.table {
    max-width: 250px;
    background-color: var(--colour-object-input) !important;
}

.table :global(.MuiTableCell-root) {
    color: var(--colour-text);
    border-bottom: 1px solid var(--colour-sidebar-border);
}