.navbar {
  align-items: center;
  background: var(--colour-object);
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.46);
  color: var(--colour-text);
  display: flex;
  font-size: 28px;
  justify-content: space-between;
  left: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1100;
}

.navbar img {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 40px;
}
.navbar button:disabled {
  opacity: 1;
}
