.filter-container {
  background-color: var(--colour-body);
  color: var(--colour-text);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.data-loading {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.button {
  margin-left: 80px;
  margin-right: 64px;
  margin-top: 88px;
}

.filter-grid {
  align-items: start;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  justify-content: center;
  margin-left: 64px;
  margin-right: 64px;
  padding: 1rem;
  z-index: 0;
}

.home-icon {
  color: var(--colour-text);
}