.card {
    border-radius: 5px;
    background-color: var(--colour-object) !important;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.10);
    transition: 0.3s !important;
}

.card:hover {
    transform: scale(1.025);
}

.card-action {
    display: block;
    padding: 10px !important;
    padding-bottom: 0px !important;
    margin: auto;
}

.card-media {
    border-radius: 4px;
    object-fit: contain;
}

.card-paper {
    display: flex;
    padding: 8px;
    background-color: var(--colour-object-child) !important;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-div {
    display: flex;
    gap: 10px
}

.card-div .card-paper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}

.MuiTooltip-tooltip {
    text-align: center;
}