:root {
    --colour-text: white;
    --colour-body: #313131;
    --colour-object: #3E3E3E;
    --colour-object-child: #4A4A4A;
    --colour-object-input: #3a3a3a;
    --colour-sidebar: #4E4E4E;
    --colour-sidebar-border: #2f2f2f;
}