.table {
    background-color: var(--colour-object-input) !important;
}

.table :global(.MuiTableCell-root) {
    color: var(--colour-text);
    border-bottom: 1px solid var(--colour-sidebar-border);
}

.edit-input {
    background-color: var(--colour-object-child) !important;
}

.edit-input-text {
    color: var(--colour-text) !important;
}
