.sidebar {
    position: fixed;
    top: 72px;
    right: 0;
    height: calc(100vh - 72px);
    background-color: var(--colour-sidebar);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: width 0.3s ease;
    overflow: hidden;
  }
  
  .sidebar.collapsed {
    width: 64px;
  }
  
  .sidebar.expanded {
    width: 276px;
  }
  
  .sidebar-content {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 12px;
  }

  .sidebar-content-dropdown {
    width: 260px;
  }
  
  .sidebar-image {
    width: 48px;
    height: 48px;
    border-radius: 4px;
  }
  
  .sidebar-text {
    color: var(--colour-text);
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
    transition: font-size 0.3s ease, opacity 0.3s ease;
  }
  
  .sidebar.expanded .sidebar-text {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    opacity: 1;
  }

.custom-badge {
  right: 2px !important;
  top: 0px !important;
  font-size: 0.625rem !important;
  height: 18px !important;
  min-width: 18px !important;
  padding: 0 !important;
  border-radius: 9999px !important;
  border: 2px solid var(--colour-sidebar-border) !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4) !important;
  font-weight: 600 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}